<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../template/template.css" />
    <title>Template</title>
  </head>
  <body>
    <div class="header">
      <a href="/index.html">&#8249; Home</a>
      <h1>Week 00 Notes</h1>
      <a href="../week_02/week_2_notes.html">Week 02 Notes &#8250;</a>
    </div>

    <div class="notes">
      <div id="top-left">
        <h2>topic 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum atque
          dolorum ea veniam incidunt magni eligendi sapiente, quo molestiae
          aliquid itaque, magnam aperiam facere libero, porro debitis quasi quae
          hic!
        </p>
      </div>

      <div id="top-right">
        <h2>topic 2</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum atque
          dolorum ea veniam incidunt magni eligendi sapiente, quo molestiae
          aliquid itaque, magnam aperiam facere libero, porro debitis quasi quae
          hic!
        </p>
      </div>

      <div id="bottom-left">
        <h2>topic 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum atque
          dolorum ea veniam incidunt magni eligendi sapiente, quo molestiae
          aliquid itaque, magnam aperiam facere libero, porro debitis quasi quae
          hic!
        </p>
      </div>
      <div id="bottom-right">
        <h2>topic 4</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum atque
          dolorum ea veniam incidunt magni eligendi sapiente, quo molestiae
          aliquid itaque, magnam aperiam facere libero, porro debitis quasi quae
          hic!
        </p>
      </div>
    </div>
  </body>
</html>
