.header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.notes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
}

body {
    background-color: rgb(194, 236, 236);
}