@media screen and (min-width: 375px) and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 52px);
        column-gap: 8px;
        justify-content: center;
        
    }
    .category-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}