@media screen and (max-width: 370) {
    body{
        display: grid;
        grid-template-columns: repeat(6, 62px);
        grid-template-rows: repeat(2, 1fr);
    }

    nav {
        grid-column: span 6;
    }

    .search {
        grid-column: span 6;
    }

    .search h2 {
        grid-column: span 6;
    }

    .categories {
        grid-column: span 6;
        display: flex;
        row-gap: 40px;
    }

    .img {
        grid-column: 1 / span 3;
        grid-row: span 3;
    }
    
    .text {
        grid-column: 3 6;
    }
}