/* OTHER */
:root {
  /* index pg clrs */
  --nav-bar-bg-clr: rgb(169, 46, 48);
  --category-bg-clr: rgb(255, 255, 255);
  --footer-bar-bg-clr: rgb(169, 46, 48);

  /* text clrs */
  --text-clr-1: rgb(169, 46, 48);
  --text-clr-2: rgb(255, 255, 255);
  --text-clr-3: rgb(36, 34, 34);

  /* HEADER  h1*/
  --desktop-h1-text: 48px;
  --tablet-h1-text: 40px;
  --mobile-h1-text: 32px;

  --desktop-h1-lineheight: 1.05em;
  --tablet-h1-lineheight: 1.125em;
  --mobile-h1-lineheight: 1.25em;

  /* BODY */
  --desktop-body-text: 16px;
  --tablet-body-text: 16px;
  --mobile-body-text: 16px;

  --desktop-body-lineheight: 1.375em;
  --tablet-body-lineheight: 1.375em;
  --mobile-body-lineheight: 1.25em;

  /* 
  FONT 
  font-family:'Comfortaa', Arial, Tahoma;
  */


  --button-clr: rgb(169, 46, 48); 
  --button-hover-clr: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../imgs/wallpaper.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', Arial, Tahoma;
}

img {
  max-width: 100%;
  height: auto;
}

/* DELICIOSO SECTION */
nav h1,
.copyright p {
  padding: 20px;
}

nav, .copyright {
  background-color: var(--nav-bar-bg-clr);
  color: var(--text-clr-2);
}

/* RECIPES SECTION */
.breakfast,
.lunch,
.dinner,
.dessert,
.delicioso {
  background-color: var(--category-bg-clr);
  margin: 10px;
}

.breakfast,
.lunch,
.dinner,
.dessert {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text {
  padding: 20px;
}

.btn {
  color:rgb(255, 255, 255);
  width: 70px;
  padding: 4px;
  border-radius: 9px;
  border: 2px solid var(--button-clr);
  background-color: var(--button-clr);
  text-align: center;
}

.btn:hover {
  color: var(--button-clr);
  width: 70px;
  border: 2px solid var(--button-clr);
  background-color: var(--button-hover-clr);
  padding: 4px;
  border-radius: 9px;
}

/* FIND A RECIPE SECTION */
.search {
  background-color: var(--category-bg-clr);
  margin: 10px;
  display: flex;
  flex-flow: column;
}

.search h2 {
  padding: 20px;
  color: var(--text-clr-1);
}

.search-bar {
  background-color: var(--nav-bar-bg-clr);
  padding: 12px;
}

ion-icon {
  color: var(--text-clr-2);
  height: 25px;
  width: 25px;
}

.search-bar input {
  width: 75%;
  height: 20px;
}


/* BREAKFAST RECIPE SECTION */

/* LUNCH RECIPE SECTION */

/* DINNER RECIPE SECTION */

/* DESSERT RECIPE SECTION */

/* DELICIOSO/SOCIAL MEDIA SECTION */

/* FOOTER SECTION */