/* PROJECT |COLORS | TEXT | SIZE|  */
:root {
  /* Background */
  --bg-clr-01: rgb(255, 255, 255);
  --bg-clr-02: rgb(169, 46, 48);

  /* Text */
  --text-clr-01: rgb(255, 255, 255);
  --text-clr-02: rgb(169, 46, 48);
  --text-clr-03: rgb(0, 0, 0);

  /* Header h1 */
  --desktop-h1-text: 48px;
  --tablet-h1-text: 40px;
  --mobile-h1-text: 32px;

  /* Body */
  --desktop-body-text: 16px;
  --tablet-body-text: 16px;
  --mobile-body-text: 16px;

  /* Lineheight */
  --desktop-h1-lh: 1.05em;
  --desktop-body-lh: 1.375em;
  --tablet-h1-lh: 1.125em;
  --tablet-body-lh: 1.375em;
  --mobile-h1-lh: 1.25em;
  --mobile-body-lh: 1.25em;
}

/* ALL */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../imgs/wallpaper.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', Arial, Tahoma;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  color:rgb(255, 255, 255);
  width: 70px;
  padding: 4px;
  border-radius: 9px;
  border: 2px solid var(--bg-clr-02);
  background-color: var(--bg-clr-02);
  text-align: center;
}

.btn:hover {
  color: var(--text-clr-02);
  width: 70px;
  border: 2px solid var(--bg-clr-02);
  background-color: var(--bg-clr-01);
  padding: 4px;
  border-radius: 9px;
}

.text {
  padding: 20px;
}

/* DELICIOSO | SOCIAL MEDIA | FOOTER */
nav h1,
.copyright p {
  padding: 20px;
}

nav, .copyright {
  background-color: var(--bg-clr-02);
  color: var(--text-clr-01);
}

/* FIND A RECIPE SECTION */
.search {
  background-color: var(--bg-clr-01);
  margin: 10px;
  display: flex;
  flex-flow: column;
}

.search h2 {
  padding: 20px;
  color: var(--text-clr-02);
}

.search-bar {
  background-color: var(--bg-clr-02);
  padding: 12px;
}

ion-icon {
  color: var(--text-clr-01);
  height: 25px;
  width: 25px;
}

.search-bar input {
  width: 75%;
  height: 20px;
  background-color: var(--bg-clr-02);
  border: none;
  color: var(--text-clr-01);
}

input::placeholder {
  color: var(--text-clr-01);
}

/* RECIPES CATEGORY */
.breakfast,
.lunch,
.dinner,
.dessert,
.delicioso {
  background-color: var(--bg-clr-01);
  margin: 10px;
}

/* BREAKFAST */
/* LUNCH */
/* DINNER */
/* DESSERT */