:root {
  /* index pg clrs */
  --nav-bar-bg-clr: rgb(169, 46, 48);
  --category-bg-clr: rgb(255, 255, 255);
  --footer-bar-bg-clr: rgb(169, 46, 48);

  /* text clrs */
  --text-clr-1: rgb(169, 46, 48);
  --text-clr-2: rgb(255, 255, 255);
  --text-clr-3: rgb(36, 34, 34);

  /* HEADER  h1*/
  --desktop-h1-text: 48px;
  --tablet-h1-text: 40px;
  --smartphone-h1-text: 32px;

  --desktop-h1-lineheight: 1.05em;
  --tablet-h1-lineheight: 1.125em;
  --smartphone-h1-lineheight: 1.25em;

  /* BODY */
  --desktop-body-text: 16px;
  --tablet-body-text: 16px;
  --smartphone-body-text: 16px;

  --desktop-body-lineheight: 1.375em;
  --tablet-body-lineheight: 1.375em;
  --smartphone-body-lineheight: 1.25em;

  /* 
  FONT 
  font-family:'Comfortaa', Arial, Tahoma;
  */

}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../imgs/wallpaper.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', Arial, Tahoma;
}

nav, .copyright {
  background-color: var(--nav-bar-bg-clr);
  color: var(--text-clr-2);
}

nav h1,
.copyright p {
  padding: 20px;
}

.breakfast,
.lunch,
.dinner,
.dessert,
.search,
.delicioso {
  background-color: var(--category-bg-clr);
  padding: 20px;
  margin: 10px;
}



img {
  width: 100%;
  height: auto;
}