:root {
    --main-clr-primary: rgb(50, 171, 180);
    --main-clr-light: rgb(255, 255, 255); 
    --main-clr-dark: rgb(59, 58, 82);
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: var(--main-clr-light);
    color: var(--main-clr-dark);
}

.categories,
.task-list, 
#title,
.tasks-remaining {
    padding: 10px;
}

.completed-btn, 
.delete-btn{
   margin-right: 9px;
}

.completed-btn {
    margin-left: 9px;
}

.task-lists{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#title, .title {
    color: var(--main-clr-primary);
}

button {
    color:var(--main-clr-light);
    background-color: var(--main-clr-primary);
    border: none; 
    padding: 10px;
    border-radius: 10px;
}